.header-container {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  height: var(--header-height);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}